{{ define "main"}}
<article>
    <header class="my-4">
        <h2>Bitcoin Blockchain Statistics</h2>
        <p>{{.Content }}</p>
    </header>

    <section class="container mx-0 px-0">
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByParam "position" }}
        {{ if and (ne .Title "dev-only") (ne .Title "Hidden") }}
        <section class="row">
            <header class="col-12">
                {{ partial "h2.html" .Title }}
            </header>
            {{range (.Data.Pages.ByParam "position") }}
            <section class="col-12 col-md-4 col-lg-3 mb-3">
                {{ partial "chart-card.html" .}}
            </section>
            {{end}}
        </section>
        {{end}} {{end}}
    </section>

    {{ if .Site.BuildDrafts }}
    <script>
        chartURLs = [
        {{- range where .Site.RegularPages "Section" "charts" -}}
            "{{ .Permalink | safeHTML}}",
        {{ end -}}
        ];

        function massGenerateThumbnails() {
            for(url of chartURLs) {
                window.open(url+"?thumbnail");
            }
        }
    </script>
    <button onclick="massGenerateThumbnails()">
        generate chart-thumbnails
    </button>
    {{ end }}

</article>
{{end}}