<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Title}}</title>

  {{ template "_internal/opengraph.html" . }} {{ template "_internal/twitter_cards.html" . }}

  <link rel="icon" type="image/png" href="/img/browser-icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/img/browser-icons/favicon.svg" />
  <link rel="shortcut icon" href="/img/browser-icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/browser-icons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="mainnet-observer" />
  <link rel="manifest" href="/img/browser-icons/site.webmanifest" />
  <link rel="stylesheet" href="/css/bootstrap.min.css"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">
          <h1 class="mb-0">
            {{ .Site.Title }}
          </h1>
          <span class="small text-muted">Bitcoin Blockchain Statistics</span>
        </a>
      </div>
      <span class="navbar-text d-none d-md-block">
        {{ .Site.Params.HtmlTopRight | safeHTML }}
      </span>
    </div>
  </nav>

  <main class="container">
    {{ block "main" .}} This is the _default/baseof main {{end}}
  </main>
  <hr>
  <footer class="container">
    {{ block "footer" .}}
    <div class="row text-center">

      <div class="col-sm mb-3">
        <div class="d-flex flex-row justify-content-center">
          <span>
            <a target="_blank" rel="noopener" href="https://github.com/0xb10c/mainnet-observer" class="text-dark text-decoration-none">
              <img src="/img/GitHub-Mark-64px.png" class="mx-1 invert" width="32" height="32" alt="GitHub logo">
              <span class="text-decoration-underline">mainnet-observer</span>
            </a>
            <br>
            <span>issues, chart suggestions, and self-hosting instructions</span>
          </span>
        </div>
      </div>

      <div class="col-sm mb-3">
        {{ .Site.Params.HtmlBottomRight | safeHTML }}
      </div>

    </div>
    {{end}}
    <span class="small" style="color: transparent;">Build date: {{now}}</span>
  </footer>
</body>

{{ block "js" .}} {{ end}}

</html>
