{{ define "main"}}
<article class="container">
  <header class="row">
    <h2 class="col-12">{{ .Title }}</h2>
    <span class="lead col-12">{{ .Summary | plainify  }}</span>
  </header>
  <section>
    <div class="row justify-content-md-end">
      <div class="col col-md-auto">
        <label for="maSelector">moving average</label>
        <select id="maSelector">
          <option value="1">1-day</option>
          <option value="7">7-day</option>
          <option value="31">31-day</option>
          <option value="90">90-day</option>
        </select>
      </div>
    </div>

    <div id="chart" class="row" style="height: 600px; width: 100%;"></div>

    <p class="row">
      {{ $body := replace .Content .Summary "" }} {{ $body | safeHTML }}
    </p>
    
    <small class="row small text-muted">
      <span>{{ partial "chart-category.html" .}}</span>
      <span> | </span>
      <span>{{ partial "chart-tags.html" .}}</span>
      {{ if .Draft }}
      | <span class="card-text" style="color: red;">#draft</span>
      {{ end }}
    </small>
    <div class="row mt-3">
      {{ partial "chart-related.html" .}}
    </div>
  </section>
</article>

{{end}}

{{- define "js" -}}
<script>
  const chartPNGFileName = "{{ .Page.File.TranslationBaseName }}.png";
  const isDevBuild = {{ if .Site.BuildDrafts }} true {{ else }} false {{ end }};
  const watermarkText = "watermark"
</script>

<script src="/js/echarts.min.js" integrity="sha512-XSmbX3mhrD2ix5fXPTRQb2FwK22sRMVQTpBP2ac8hX7Dh/605hA2QDegVWiAvZPiXIxOV0CbkmUjGionDpbCmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/theme.js"></script>
<script src="/js/lib.js"></script>
<script src="/js/charts/{{ .Params.chartJS }}"></script>

{{ end }}
