{{ define "main"}}
<article class="mt-3">
  <header>
    <h2>{{ .Title }}</h2>
    <span class="lead">{{ .Summary | plainify  }}</span>
  </header>
  <section id="chart" class="mt-3" style="height: 600px; width: 100%;"></section>
  <section class="text-justify">
    {{ $body := replace .Content .Summary "" }} {{ $body | safeHTML }}
  </section>
  <section>
    <small class="small text-muted">
      <span>{{ partial "chart-category.html" .}}</span>
      <span> | </span>
      <span>{{ partial "chart-tags.html" .}}</span>
      {{ if .Draft }}
      | <span class="card-text" style="color: red;">#draft</span>
      {{ end }}
    </small>
  </section>
  <hr>
  <section>
    {{ partial "chart-related.html" .}}
  </section>
</article>

{{end}}

{{- define "js" -}}
<script>
  const chartPNGFileName = "{{ .Page.File.TranslationBaseName }}.png";
  const isDevBuild = {{ if .Site.BuildDrafts }} true {{ else }} false {{ end }};
  const watermarkText = "watermark"
</script>

<script src="/js/echarts.min.js" integrity="sha512-XSmbX3mhrD2ix5fXPTRQb2FwK22sRMVQTpBP2ac8hX7Dh/605hA2QDegVWiAvZPiXIxOV0CbkmUjGionDpbCmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/theme.js"></script>
<script src="/js/lib.js"></script>
<script src="/js/charts/{{ .Params.chartJS }}"></script>

{{ end }}
